footer ul{
    margin: 1%;
    text-align: center;
}

footer ul li {
display: inline;
}
footer ul li a:link {
  text-decoration: none;
  margin-right: 5%;
}

footer ul li a{
color: #636b6f;
padding: 0px 20px;
font-size: 15px;
font-weight: 600;
letter-spacing: .1rem;

}

